<li class="date_list_item">
    <ul class="sunrise_sunset_list">
        <li class="sunrise_item">
            <svg class="sunrise_icon">
                <use href="./images/symbol-defs.svg#icon-sunrise"></use>
            </svg>

            <p class="sunrise_text">{{sunrise}}:{{newSunrise}}</p>

        </li>
        <li class="sunset_item">
            <svg class="sunset_icon">
                <use href="./images/symbol-defs.svg#icon-sunset"></use>
            </svg>

            <p class="sunset_text">{{sunset}}:{{newSunset}}</p>

        </li>
    </ul>
</li>