{{#each sys}}
<li>
    <svg class="sunrise_icon">
        <use href="./images/symbol-defs.svg#icon-sunrise"></use>
    </svg>
    <p>{{this.sunrise}}</p>
</li>
<li>
    <svg class="sunset_icon">
        <use href="./images/symbol-defs.svg#icon-sunset"></use>
    </svg>
    <p>{{this.sunset}}</p>
</li>
{{/each}}