*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
body {
  background-color: cadetblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  margin: 0 20px;
}

/* ---------------------------Global------------------- */

.weather_icon {
  width: 32px;
  height: 32px;
}

.full_info_icon {
  width: 20px;
  height: 20px;
}

/* -------------------HEADER------------------- */
.input_form_city {
  margin-top: 30px;
  margin-bottom: 15px;
}
.input_nav {
  width: 100%;
  height: 48px;
  background: #ffffff;
  border-radius: 30px;
  padding-left: 60px;
  padding-right: 26px;
  border: none;
}
.input-location {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 40px;
  top: 43px;
  border: none;
  color: transparent;
  background-color: transparent;
  z-index: 3;
}
.location_icon {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 40px;
  top: 43px;
  fill: #7e8691;
}
.input_btn {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  border: none;
  right: 50px;
  top: 43px;
  color: transparent;
  background-color: transparent;
  z-index: 3;
}
.favourites_icon {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  right: 50px;
  top: 43px;
  stroke: #7e8691;
  fill: white;
}
.fav_cities {
  display: flex;
  margin-bottom: 65px;
  margin-left: 20px;
  width: 72px;
  height: 28px;
}

.fav_country_list {
  display: flex;
}

.fav_country_item {
  display: flex;
  padding: 5.5px 12px;
  background: rgba(16, 33, 54, 0.5);
  border-radius: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #ffffff;
}

.fav_country_item:not(:last-child) {
  margin-right: 10px;
}

.fav_country_link {
  margin-right: 10px;
}

.close_icon {
  width: 10px;
  height: 10px;
}

.slider_btn {
  position: absolute;
  right: 20px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
}

/* ----------------------------------MAIN-------------------- */
/* h1 {
  visibility: hidden;
  width: 0;
  height: 0;
}

.current_city {
  margin: 0 auto;
  padding: 30px 56px;
  background: #102136;
  box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
  margin-bottom: 30px;
}

.current_city_list {
  display: flex;
  flex-wrap: wrap;
}

.current_city_list:first-child {
  margin-top: 5px;
}

.current_city_item {
  width: 33%;
}

.stick {
  border-right: 1px solid white;
}

.current_city_item:nth-child(-n + 2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.current_city_title {
  margin-bottom: 30px;
  margin-top: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #767d85;
}

.current_temperature_text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 1.2;
  color: #ffffff;
}

.temperature_range {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #767d85;
}

.temperature_degree {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
} */

h1 {
  visibility: hidden;
  width: 0;
  height: 0;
}

.current_city {
  margin: 0 auto;
  padding: 30px 56px;
  background: #102136;
  box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
  margin-bottom: 30px;
}

.current_city_list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current_city_title {
  margin-bottom: 30px;
  margin-top: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #767d85;
}

.current_temperature_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}

.current_temperature_text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 1.2;
  color: #ffffff;
}

.current_temperature_range {
  display: flex;
  width: 75px;
  justify-content: space-between;
}

.temperature_range {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #767d85;
}

.range_item_min {
  position: relative;
}

.range_item_min::after {
  content: '';
  border: 1px solid #ffffff;
  position: absolute;
  top: 5px;
  left: 35px;
  height: 35px;
}

.current_temperature_text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 1.2;
  color: #ffffff;
}

.temperature_degree {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.button_block {
  width: 270px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.btn_today {
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  width: 126px;
  height: 27px;
  background: #ffffff;
  border-radius: 20px;
  margin: 0 auto;
  border: none;
}
.btn_five_days {
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  width: 126px;
  height: 28px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: none;
}
.block_date {
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  background: rgba(16, 33, 54, 0.8);
  border-radius: 34px;
}

.sunrise_icon {
  width: 20px;
  height: 20px;
}

.sunset_icon {
  width: 20px;
  height: 20px;
}

.quotes {
  margin-bottom: 30px;
}
.quote_text {
  margin-bottom: 15px;
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.quote_owner {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: right;
  letter-spacing: 0.04em;
  color: #ffffff;
}
/* ----------------------------FIVE DAYS BLOCK------------------------------------------- */
.five_days_block {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
}
.five_days_list {
  display: flex;
}
.btn_show_chart {
  display: block;
  margin: 0 auto;
  width: 110px;
  height: 28px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-decoration-line: underline;
  border: none;
  color: #ff6b09;
  background-color: transparent;
}
.btn_hide_chart {
  display: block;
  margin: 0 auto;
  width: 110px;
  height: 28px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-decoration-line: underline;
  border: none;
  color: #ff6b09;
  background-color: transparent;
}

.full_info_list {
  display: flex;
}

/* ----------------------------------------------CHART BLOCK-------------------------- */

.chart_block {
  height: 516px;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
}

/* ---------------------------для скролла---------------------   */

/* .full_info_list {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  margin: 20px;
} */

/* .card {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
} */

/* ------------------------------------------------------------------ */

/* .extra_deys_block {
  margin-bottom: 20px;
  height: 540px;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
}



@media screen and (min-width: 468px) {
  .container {
    max-width: 450px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
  }
  .input_form_city {
    position: relative;
  }
  .input-location {
    left: 20px;
    top: 12px;
  }
  .location_icon {
    left: 20px;
    top: 12px;
  }
  .input_btn {
    right: 24px;
    top: 12px;
  }
  .favourites_icon {
    display: block;
    right: 24px;
    top: 12px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 500px;
  }
}
@media screen and (min-width: 1279px) {
  .container {
    min-width: 1200px;
  }
} */

#myChart {
  width: 500px;
  height: 500px;
}
